<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clockbone.mapper.ItemMapper">
    <resultMap id="itemResult" type="com.clockbone.domain.Item">
       <result property="price" column="price"></result>
       <result property="key" column="key_id"></result>
       <result property="count" column="count"></result>
       <result property="itemName" column="itemname"></result>
        <result property="itemCategory" column="itemCategory"></result>
    </resultMap>

    <select id="findAll" resultMap="itemResult">
        <![CDATA[
        select
        key_id,
		count,
		itemname,
		itemCategory,
		price from t_bone_item
		]]>

    </select>

</mapper>